.mod_photoalbums2,
.mod_photoalbums2list,
.mod_photoalbums2view,
.ce_photoalbums2 {
  &.pa2_album_fluid {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }

  .albumswrap,
  .imagewrap {
    clear: both;
    display: block;
    overflow: hidden;

    .album,
    .image {
      box-sizing: border-box;
      display: block;
      float: left;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;

      .albumInside,
      .imageInside {
        overflow: hidden;
      }

      &.first {
        padding-left: 0;
      }

      &.last {
        padding-right: 0;
      }
    }
  }

  .hide {
    display: none !important;
    height: 0px !important;
    left: 0px !important;
    overflow: hidden !important;
    position: absolute !important;
    top: 0px !important;
    width: 0px !important;
  }
}
